@page
@model collectCore.Pages.dashboardModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "dashboard";
}

<div>
    <section id="graph">
        <div>
            <h1>Welkom, Basten!</h1>
        </div>
        <div>
            <p>Collection:</p>
            <form method="get">
                <select name="collectionID" onchange="this.form.submit()">
                    @foreach (var collection in Model.Collections)
                    {
                        <option value="@collection.CollectionID" selected="@(collection.CollectionID == Model.CollectionID)">
                            @collection.Name
                        </option>
                    }
                </select>
            </form>
        </div>
        <div id="graphdiv">
            <canvas id="myChart"></canvas>
            <div>
                <a asp-page="./dashboard" asp-route-collectionID="@Model.CollectionID" asp-route-range="1W">1W</a>
                <a asp-page="./dashboard" asp-route-collectionID="@Model.CollectionID" asp-route-range="1M">1M</a>
                <a asp-page="./dashboard" asp-route-collectionID="@Model.CollectionID" asp-route-range="3M">3M</a>
                <a asp-page="./dashboard" asp-route-collectionID="@Model.CollectionID" asp-route-range="6M">6M</a>
                <a asp-page="./dashboard" asp-route-collectionID="@Model.CollectionID" asp-route-range="1Y">1Y</a>
            </div>
        </div>
    </section>
    <section id="hotItems">
        <h1>Hot items</h1>
        <hr>
        <div>
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
        </div>
    </section>
    <section id="dashCards">
        <h1>Your cards</h1>
        <hr>
        <div>
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
            <img src="Foto_empty.jpg" alt="no image">
        </div>
    </section>
</div>
@section Scripts
{
    <script>
        const DATA = @Html.Raw(Json.Serialize(Model.Data));
        const LABELS = @Html.Raw(Json.Serialize(Model.Labels));

        const CONTEXT = document.getElementById('myChart').getContext('2d');
        new Chart(CONTEXT,
        {
            type: 'line', data:
            {
                labels: LABELS,
                datasets:
                [{
                    label: 'Collection Growth',
                    data: DATA,
                    borderColor: 'rgba(181, 178, 0, 1)',
                    backgroundColor: 'rgba(235, 233, 70, 0.2)',
                    borderWidth: 2,
                    fill: true
                }]
            },
            options:
            {
                responsive: true,
                maintainAspectRatio: false,
                scales:
                {
                    y:
                    {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
}
    
